*{
	background-color: #e7e7e7;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

section{
	width: 20%;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #fff;
	font-size: 175%;
	padding: 2.5%;
	font-weight: bold;
	word-spacing: 0px;
}

header{
	height:2.5%;
	background-color: #fff;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 2.5px 0px;
	word-spacing: 120px;
}

.text{
	width: 40%;
	position: relative;
	top: 2%;
	background-color: #fff;
	float:right;
	margin-top: -2%;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size: 39%;
}

.Lorem{
	font-size: 50%;
	font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
	background-color:#fff;
	width: 200%;
}

.top{
	margin-left: 10%;
	background-color: #4aaaa5;
	padding: 2.5%;
}

.left{
	margin: 3.25% 0% 2.5% 10%;
	background-color: #fff;
	color: #4aaaa5;
	float: left;
	position: relative;
	text-align: left;
	padding-right: 25%;
}

.right{
	margin: 5%;
	background-color: #fff;
	color: #4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	font-size: 24px;
	position: absolute;
	left: 50%;
	top: 1.5%;
	text-align: center;
	word-spacing: 0px;
	margin: 10%;
	padding: 1.5%;
}

footer{
	background-color: #666;
	text-align: center;
	color: #ccc;
	padding: 2.5%;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #4aaaa5;
	clear: left;
	position: relative;
	top: 100%;
}

img{
	float:left;
	padding: 5%;
	background-color: #fff;
	z-index: -1;
	width: 15%;
	display: inline-block;
}


a{
	background-color: #fff;
	text-decoration: none;
	color: #777;
}

hr{
	color: #ccc;
	border-width: 2px;
	border-style: solid;
	width: 200%;
}

.fix{
	width: 100%;
}

.fixThis{
	width: 100%;
	padding: 0%;
}

input{
	width: 200%;
	background-color: #fff;
	font-size: 16px;
	margin: 5% 0% 5% 0%;
}

label{
	background-color: #fff;
	font-size: 14px;
}

form{
	background-color: #fff;
	font-size: 16px;
}

textarea{
	width: 200%;
	height: 175px;
	background-color: #fff;
	font-size: 16px;
	margin: 5% 0% 5% 0%;
}

input[type=submit]{
	background-color: #4aaaa5;
	color: #fff;
	margin: 5% 0% 5% 0%;
	width: 35%;
	padding: 2.5%;
	border: none;
	text-align: center;
	font-size: 14px;
}

span{
	background-color: #4aaaa5;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #fff;
	font-size: 12px;
	padding: 20px 101px 20px 101px;
	position: relative;
	left: .5%;
	bottom: 75px;
	float:left;
	display: inline-block;
	width: 25%;
}

.spacer{
	padding: 0 5px;
	background: transparent;

	&::before{ content: " ";}
}

div {
    width: 100%;
}

.square {
    float:left;
    position: relative;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%;
    width:90%;
    padding: 10% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    background-color: #fff;
}


@media screen and (max-width: 768px) {

.left{
	background-color: #fff;
	color: #4aaaa5;
	text-align: left;
	padding-right: 0%;
	width: 87.5%;
	float:left;
	margin: 5%;
	position: relative;
	top: 12.5%;
}

.right{
	background-color: #fff;
	color: #4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	font-size: 24px;
	text-align: left;
	word-spacing: 0px;
	margin: 5%;
	position: relative;
	float: left;
	left:0%;
}

.Lorem{
	font-size: 45%;
	font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
	background-color:#fff;
	width: 100%;
}

hr{
	color: #ccc;
	border-width: 2px;
	border-style: solid;
	width: 97.5%;
}

footer{
	background-color: #666;
	text-align: center;
	color: #ccc;
	padding: 2.5%;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #4aaaa5;
	clear: left;
	position: relative;
	top:105%;
}

img{
	padding: 2.5%;
	margin: .5%;
	background-color: #fff;
	z-index: -1;
	width: 10%;
	float:left;
	display: inline-block;
}

.text{
	background-color: #fff;
	float:right;
	margin-top: -2%;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	width:50%;
	position: absolute;
	left: 50%;
	top: 8%;
}

header{
	height:2.5%;
	background-color: #fff;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 0px 2.5px 0px;
	word-spacing: 50px;
	width: 100%;
}

.top{
	margin-left: 5%;
	background-color: #4aaaa5;
	padding: 2.5%;
}

input{
	width: 95%;
	background-color: #fff;
	font-size: 16px;
	margin: 1.5% 0% 1.5% 0%;
}

textarea{
	width: 95%;
	height: 100px;
	background-color: #fff;
	font-size: 16px;
	margin: 1.5% 0% 1.5% 0%;
}

input[type=submit]{
	background-color: #4aaaa5;
	color: #fff;
	margin: .5% 0% .5% 0%;
	width: 10%;
	padding: 1%;
	border: none;
	text-align: center;
	font-size: 50%;
}

.fixThis{
	width: 105.5%;
}

div {
    width: 30%;
}

.square {
    float:left;
    position: relative;
    width: 49%;     
    margin:20%;
    overflow:hidden;
    background-color: #fff;
}

.content {
    position:absolute;
    height:80%;
    width:90%;
    padding: 10% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

span{
	background-color: #4aaaa5;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #fff;
	font-size: 10px;
	padding: 20px 101px 20px 101px;
	position: relative;
	left: .5%;
	bottom: 75px;
	float:left;
	display: inline-block;
	width: 25%;
}

}

@media screen and (max-width: 640px){

section{
	width: 100%;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #fff;
	font-size: 32px;
	padding: 2.5%;
	font-weight: bold;
	word-spacing: 0px;
	text-align: center;
}

.top{
	margin-left: 0%;
	background-color: #4aaaa5;
	padding: 2.5%;
}

.text{
	background-color: #fff;
	float:right;
	margin-top: -2%;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	width:100%;
	position: relative;
	top: 10%;
	left: 0%;
	padding: .5%;
	word-spacing: 150px;
	text-align: center;
}

.right{
	background-color: #fff;
	color: #4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	font-size: 24px;
	text-align: left;
	word-spacing: 0px;
	margin: 5%;
	position: relative;
	left:0%;
	top:85%;
}

footer{
	background-color: #666;
	text-align: center;
	color: #ccc;
	padding: 2.5%;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #4aaaa5;
	clear: left;
	position: relative;
	top: 120%;
}

textarea{
	width: 95%;
	height: 175px;
	background-color: #fff;
	font-size: 16px;
	margin: 5% 0% 5% 0%;
}


}